body{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

body>div{
    border: 3px solid rgb(0, 0, 0);
    background-color: bisque;
    margin: 20px 30px;

}

#controls{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
    align-items: center;

}

#controls input{
    margin: 10px 0;
    width: 33%;
}

#field{
    height: 600px;
    width: 1200px;
    position: relative;
    border: 6px solid rgb(0, 0, 0);
}

#ball{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    left:5px;
    top:5px;
    /*transition: left 0.01s linear,
                top 0.01s linear;*/
    }


#direction{
    width:40px;
    height:2px;
    border:1px solid blue;
    background-color: blue;
    position: absolute;
    top:24px;
    left :25px;
    transform: rotate(0deg);
    transform-origin: top left;
    transition:transform 0.5s ease-in-out
}